body,
html {
  background: url(./images/laop.jpg);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}
